{% extends 'Music/layout.html'%} {%block title %}Задание 1 {%endblock %}
{%block content%} 
    <style>
    a {
        text-decoration:none;
        color: #ffed00;
    }
    .div-container:hover { text-decoration:none; }
    .ite:hover { text-decoration: underline; }
    body {
        background-color: #48d1cc;
    }
        h1 {
        color: #f5f5dc;
        }
	.text {
	font-size: 22px;
	color: #ffed00;
	}
	.relo {
	color: #f5f5dc;
	font-size: 25px;
	}
	.but {
	font-size: 25px;
	}
	body {
	justify-content: center;
	text-align:center;
	margin: auto;
	}
    .byebilet{
        white-space: nowrap;
    }
    </style>
    <div class="text">
        <p>Имя: {{instance.first_name}}</p>
        <p>Фамилия: {{instance.last_name}}</p>
        <p>EMAIL: {{instance.email}}</p>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <a class="relo" href="/Music/{{instance.id}}/update">
            Обновить
        </a>
    <br>
<form action = "../buyer_list/">
                    <input type = "submit" value = "ОК" class="but">
                </form>

{% endblock%}
