{% extends 'Music/layout.html'%}
{%block content%} 
    <style>
    a {
        text-decoration:none;
        color: #ffed00;
    }
    nav:hover { text-decoration:none; }
    .ite:hover { text-decoration: underline; }
    body {
        background-color: #48d1cc;
    }
        h1 {
        color: #f5f5dc;
        }
	body {
	justify-content: center;
	text-align:center;
	margin: auto;
	}
    </style>

<body>

    <h1> {{ title }} </h1>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> {{ what_to_do}} </button>
        </form>
    </body>
</body>
{% endblock%}