{% extends 'Music/layout.html'%} {%block title %}Задание 1 {%endblock %}
{%block content%} 
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
    a {
        text-decoration:none;
        color: #ffed00;
    }
    nav:hover { text-decoration:none; }
    .ite:hover { text-decoration: underline; }
    body {
        background-color: #48d1cc;
    }
        h1 {
        color: #f5f5dc;
        }
	body {
	justify-content: center;
	text-align:center;
	margin: auto;
	}
    </style>
</head>

    <h1>{{ title }}</h1>
    {% for i in queryset %}
        <div>
            <a href="/Music/detail/{{i.id}}/" class="ite"> <h2> {{ i.name }} </h2> </a>
        </div>
    {% endfor %}

{% endblock%}