{%load static%}
<!doctype html>
<html lang="ru">
    <head>

        <meta charset ="UTF-8">
        <meta name=" viewport"
        content="width=device-width, user-scalable=no, initial=scale=1.0, maximum-scale=1.0">      
        <meta http-equiv= "X-UA-Compatible" content="ie=edge">
        <title>{% block title%} {% endblock%} </title>
        <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% comment %} <link   rel="stylesheet" href="{% static 'main/css/main.css' %}"> {% endcomment %}
        <link   rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
     </head>
     <style> .div-inline {
        width: 400px;
        margin-top: 0px; 
        height:100vh; 
        background-color: #4831cc;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        position: absolute;
        {% comment %} display: block; {% endcomment %}
        {% comment %} width: 100%; {% endcomment %}
        box-sizing: border-box;
        text-align: justify;
        }</style>     
            <ul class="div-inline">
                <div><a href="/Music/"> Главная </a></div>
               <div><a href="/Music/buyer_list/"> Покупатели </a></div>
               <div class="byebilet"><a href="/Music/buying/"> Купить Билет </a></div>
               {% comment %} <div><a href="/Music/buyer/"> Регистрация </a></div> {% endcomment %}
             </ul>
        <main>
            {% block content%}
            {% endblock%}
        </main>
    </html>